@import '../../styles/constants.module';

.prosemirrorContainer {
  line-height: initial;
  color: $text-primary;

  .ProseMirror .placeholder {
    color: rgba(0,0,0,0.38);
    font-weight: normal;
    pointer-events: none;
    height: 0;
  }

  .ProseMirror:focus .placeholder {
    display: none;
  }

  .selection-marker {
    background: #338FFF;
    color: white;
  }

  .ProseMirror {
    ::selection {
      background: transparent;
    }

    outline: none;

    h1 {
      font-size: 26px;
      font-weight: 600;
      margin: 40px 0 16px 0;
      line-height: 1.2;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 40px 0 16px 0;
      line-height: 1.2;
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin: 40px 0 16px 0;
      line-height: 1.2;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 32px 0 16px 0;
      line-height: 1.2;
    }
    h5 {
      font-size: 18px;
      font-weight: 600;
      margin: 32px 0 16px 0;
      line-height: 1.2;
    }
    h6 {
      font-size: 16px;
      font-weight: 600;
      margin: 32px 0 16px 0;
      line-height: 1.2;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 16px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }

    h1.article-title {
      margin: 0;
      padding: 0;
    }
  }
}
