@import '../../styles/constants.module';

.drop-cursor {
  border-top: solid 1px #0078CF;
}

.prosemirrorContainer {
  line-height: initial;
  color: $text-primary;
  min-height: 24px;

  .ProseMirror .placeholder {
    color: rgba(0,0,0,0.38);
    font-weight: normal;
    pointer-events: none;
    height: 0;
  }

  .ProseMirror:focus .placeholder {
    display: none;
  }

  .ProseMirror {
    .selection-marker {
        background: #338FFF;
        color: white;
    }
    ::selection {
      background: transparent;
    }

    outline: none;

    h1 {
      font-size: 26px;
      font-weight: 600;
      margin: 40px 0 16px 0;
      line-height: 1.2;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 40px 0 16px 0;
      line-height: 1.2;
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin: 40px 0 16px 0;
      line-height: 1.2;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 32px 0 16px 0;
      line-height: 1.2;
    }
    h5 {
      font-size: 18px;
      font-weight: 600;
      margin: 32px 0 16px 0;
      line-height: 1.2;
    }
    h6 {
      font-size: 16px;
      font-weight: 600;
      margin: 32px 0 16px 0;
      line-height: 1.2;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 16px 0;
      word-break: break-word;
      &:last-child {
        margin-bottom: 0;
      }
    }

    h1.article-title {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: disc;
      margin-bottom: 16px;
      & > li > ul { list-style: circle; }
      & > li > ul > li > ul { list-style: square; }
      & > li > ul > li > ul > li > ul { list-style: disc; }
      & > li > ul > li > ul > li > ul > li > ul { list-style: circle; }
      & > li > ul > li > ul > li > ul > li > ul > li > ul { list-style: square; }
    }

    ol {
      list-style: decimal;
      margin-bottom: 16px;
      & > li > ol { list-style: lower-latin; }
      & > li > ol > li > ol { list-style: lower-roman; }
      & > li > ol > li > ol > li > ol { list-style: decimal; }
      & > li > ol > li > ol > li > ol > li > ol { list-style: lower-latin; }
      & > li > ol > li > ol > li > ol > li > ol > li > ol { list-style: lower-roman; }
    }

    li {
      p, p:last-child {
        margin: 0;
      }
    }
  }
}
