.editorview-wrapper {
  margin: 20px 0;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px grey;
  line-height: 1.5;
  height: 100%;
  position: relative;
  font-family: 'Inter UI', system-ui, sans-serif;
}