.keyword-group {
  display: flex;
  flex-flow: wrap;
  font-size: 13px;
  line-height: 32px;


  .keyword {
    display: flex;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    line-height: normal;
    white-space: nowrap;
    border: solid 1px rgba(0,0,0,0.23);
    margin: 2px 4px;
    padding: 6px 6px 6px 14px;
    border-radius: 16px;

    .hidden {
      display: none;
    }

    .content-container {
      flex: 1;
    }

    &.ProseMirror-selectednode {
      outline: none;
      border-color: #8cf;
    }

    .keyword-delete-cta {
      width: 20px;
      height: 20px;
      background: #c5c5c5;
      color: white;
      border-radius: 20px;
      text-align: center;
      display: inline-block;
      margin-left: 5px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}