.keywords-group-container {

  .keyword-group-legend {
    font-size: 12px;
    color: #263238;
  }

  .keywords-section {
    display: flex;
    flex-flow: wrap;
    font-size: 13px;
    line-height: 32px;
    cursor: text;

    .new-keyword-container {
      flex: 1;

      .ProseMirror-focused {
        outline: none;
      }
    }

    .keyword {
      display: flex;
      background: #087ACC;
      color: #fff;
      font-size: 13px;
      line-height: normal;
      white-space: nowrap;
      margin: 2px 4px;
      padding: 6px 6px 6px 12px;
      border-radius: 16px;

      &.focused {
        background: white;
        color: #263238;
      }

      .content-container {
        flex: 1;
      }

      .ProseMirror-selectednode, .ProseMirror-focused {
        outline: none;
        border-color: #8cf;
      }

      .keyword-delete-cta {
        width: 20px;
        height: 20px;
        margin-left: 8px;
      }
    }
  }
}