@import "./app/styles/reset";
@import "./fonts/fonts";

html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

